/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
#hero {
  margin-top: 80px;
  display: flex;
  align-items: center;

  .container {
    > .row {
      display: flex;
      justify-content: space-between;
    }
  }

  .section-title {
    .title-default {
      padding-right: 4rem;
    }
    .subtitle-default {
      padding-right: 1rem;
    }
  }

  .owl-carousel {
    .owl-nav {
      display: none;
    }
  }

  &.full-banner {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    &:after {
        content: "";
        width: 100%;
        height: calc(46px + 2.3rem + 3rem);
        display: block;
        background-color: $bg-light;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      @include media-breakpoint-down(sm) {
        height: calc(106px + 2.3rem + 3rem);

      }
    }
    .container {
      > .row {
        flex-direction: column-reverse;
        gap: 4.5rem;
        div[class*="col"] {
          flex: 0 0 100%;
          max-width: 100%;
          padding-right: 15px !important;
          padding-left: 15px !important;
        }
      }
    }
    header.section-title {
      display: none;
    }
    footer {
      display: flex;
      gap: 1rem;
      width: 100%;
      flex-direction: row;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      .input-group {
        &.search {
          width: 65%;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
        &.courses {
          width: 35%;
          margin-top: 0;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
      }
    }

    .owl-carousel#owl-hero {
      .owl-dots {
        display: none;
      }
      .owl-nav {
        display: none;
      }
    }
  }
}
