/*--------------------------------------------------------------
# Components Button
--------------------------------------------------------------*/
.btn {
  font-weight: $fw-bold;
  letter-spacing: 0.05rem;
  //   border-width: 0;

  //   border-width: 1px;
  //   border-style: solid;

  font-size: 1rem;
  padding: 0.625rem 1.125rem;

  text-decoration: none;
  border-radius: 0.675rem;

  @media (max-width: 599px) {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  &.btn-white {
    background-color: $white;
    border-color: $white;
    color: $gray;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $white;
      border-color: $white;
      color: $primary;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($primary, 25%);
    }

    &.txt-gray {
      color: $dark-gray;
    }

    &.txt-secondary {
      color: $secondary;
    }
  }
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $dark-primary;
      border-color: $dark-primary;
      color: $white;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($primary, 25%);
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $dark-secondary;
      border-color: $dark-secondary;
      color: $white;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($secondary, 25%);
    }
  }

  &.btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $dark-primary;
      border-color: $dark-primary;
      color: $white;

      .ico {
        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
      }
    }
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($primary, 25%);
    }
  }

  &.btn-outline-secondary {
    border-color: $secondary;
    color: $secondary;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $dark-secondary;
      border-color: $dark-secondary;
      color: $white;

      .ico {
        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
      }
    }
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($secondary, 25%);
    }
  }

  &.btn-outline-gray {
    border-color: $dark-gray;
    color: $dark-gray;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      border-color: $secondary;
      color: $secondary;

      .ico {
        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
      }
    }
    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($secondary, 25%);
    }
  }
  &[class*="btn-outline"] {
    border-width: 1px;
    border-style: solid;
  }
}
