/*--------------------------------------------------------------
# Components Carousel OWL
--------------------------------------------------------------*/
.owl-carousel {
  .owl-nav {
    button {
      &.owl-next,
      &.owl-prev {
        background-color: $white;
        border: none !important;
        color: transparent;
        position: relative;

        width: 40px;
        height: 40px;
        padding: 0;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;

        border-radius: 50%;
        box-shadow: 0px 0px 7px 7px rgba($primary, 0.03);
        &.disabled {
          opacity: 0.5;
        }
        &:hover {
          color: transparent;
          background-color: $primary;
          border-color: $primary;
          &:before {
            filter: brightness(0) invert(1);
          }
        }

        &:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;

          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: absolute;

          background-repeat: no-repeat;
          background-size: contain;
          background-color: transparent;
          background-position: center;
        }
      }
      &.owl-next {
        &:before {
          background-image: url("../img/icon/icons_arrowright.svg");
        }
      }

      &.owl-prev {
        &:before {
          background-image: url("../img/icon/icons_arrowleft.svg");
        }
      }

      span {
        text-indent: -99999px;
      }
    }
    .owl-next {
      margin-left: 20px;
    }
  }

  &#owl-hero {
    border-radius: 0.675rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .owl-dots {
      //   text-align: center;
      -webkit-tap-highlight-color: transparent;
      //   position: absolute;
      //   bottom: -50px;
      width: 100%;
      padding: 1rem 1.5rem;
      .owl-dot {
        display: inline-block;
        zoom: 1;
        &.active {
          span {
            background: $primary;

            width: 30px;
          }
        }
        span {
          width: 12px;
          height: 12px;
          margin: 5px 7px;
          background: transparent;
          border: solid 1px $primary;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 0.2s ease;
          border-radius: 30px;
        }
      }
    }
  }
}
