// General Colors
$red: #ef6873;
$green: #28a745;
$blue: #425ae2;
$yellow: #ffc107;
$orange: #fd7e14;
$brown: #7b4f2c;
$purple: #8873d0;
$pink: #f78dc3;
$white: #ffffff;
$black: #000000;
$teal: #20b8b7;
$cyan: #17a2b8;

$gray: #949494;
$light-gray: #d1d1d1;
$dark-gray: #353535;

/// Default color variable
$primary: #00AD8E;
$primary-hover: #00796A;
$dark-primary: #1A6458;

$light-primary: #fbe6f1;

$secondary: #0e4287;
$dark-secondary: #2a3767;
$light-secondary: #1d63bd;

$heading-color: $dark-gray;
$text-color: $dark-gray;
$light-color: $light-gray;

// Background color
$bg-light: #f1f1f1;
$bg-primary: $primary;

// Link Colors
$links: $text-color;
$links-hover: lighten($text-color, 0.2%);

/// Fonts Variables
$font-primary: "Roboto", sans-serif;
$font-secondary: "Mulish", sans-serif;

$font-default: $font-primary;
$heading-font: $font-default;
$text-font: $font-default;

/// Fonts weight
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;

/// userSpaceOnUse
$pad-space: 6.25rem;


/// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);