<!-- ======= Course card ======= -->
<div class="card card-course" data-aos="fade-up" data-aos-delay="100">

    <header class="card-header">
        <h2 class="card-title">
            Nome do Curso
        </h2>
        <h6 class="card-subtitle">
            Duração do curso
        </h6>

        <span class="badge discount">
            <i class="ico arrow-down"></i>
            50%
        </span><!-- /discount -->
    </header><!-- /card-header -->

    <div class="card-body">
        <p class="card-text">
            <span>
                De <money>
                    <currency>R$</currency> 2.000,00
                </money> por
            </span>
            <strong>
                <money>
                    <currency>R$</currency> 1.200,00
                </money>
            </strong>
        </p>
    </div><!-- /card-body -->

    <footer class="card-footer">
        <a href="#" class="btn btn-block btn-primary" title="Inscreva-se">Inscreva-se</a>
        <a href="#" class="btn btn-block btn-white" title="Saiba mais">Saiba mais</a>
    </footer><!-- /card-footer -->

</div><!-- /card -->