<!-- ======= Course card ======= -->
<div class="card card-testimonials" data-aos="fade-up" data-aos-delay="100">

    <header class="card-header">
        <div class="ratings">
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star"></i>
        </div>
    </header><!-- /card-header -->

    <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit dignissim mi Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Pharetra tortor, odio dignissim mi. Sed enim gravida vehicula imperdiet.
        </p>
    </div><!-- /card-body -->

    <footer class="card-footer">
        teste
    </footer><!-- /card-footer -->

</div><!-- /card -->